* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --color-green: #6cd860;
    --color-white: #ffffff;
    --color-blue: #2e4dab;

    --color-black-100: #9195a1;
    --color-black-600: #282828;
    --color-black-700: #222225;
    --color-black-800: #121213;
    --color-black-900: black;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--color-white);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}